{% extends "shop/base.html" %}
{% load static %}

{% block title %}Заказ оформлен{% endblock %}

{% block content %}

<section class="order-success">

  <div class="success-card">

    <!-- ANIMATION -->
    <div class="success-icon">
      <svg viewBox="0 0 52 52">
        <circle class="circle" cx="26" cy="26" r="25" fill="none"/>
        <path class="check" fill="none"
              d="M14 27 l7 7 l17 -17"/>
      </svg>
    </div>

    <h1>Заказ принят</h1>

    <p class="success-text">
      Спасибо за покупку!  
      Номер вашего заказа: <strong>#{{ order.id }}</strong>
    </p>

    <a href="{% url 'shop:product_list' %}" class="btn-success">
      Вернуться в каталог
    </a>

  </div>

</section>

{% endblock %}
